.boxSize {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 300px;
}
.login {
  width: 200px;
  margin: 50px auto;
  padding: 15px;
  boder: 1px solid #333;
  background: #666;
}
.login label {
  display: block;
}
.login input {
  width: 95%;
  margin-bottom: 10px;
}
.app {
  font-family: sans-serif;
  color: #a4a4a4;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app #appHeader,
.app #appFooter {
  height: 5%;
  background-color: #313131;
}
.app #appHeader {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.app #appHeader .menu {
  margin: 0;
  padding: 0;
}
.app #appHeader .menu li {
  display: inline;
  cursor: pointer;
}
.app #main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: #333;
  position: relative;
}
.app #main .editor,
.app #main .preview {
  width: 100%;
  height: 100%;
  background-color: #575757;
  position: absolute;
  left: 0;
  transition-duration: left 100ms linear;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
}
.app #main .editor #nav,
.app #main .editor #codeMirror {
  float: left;
}
.app #main .editor #nav {
  width: 15%;
  height: 100%;
  word-wrap: break-word;
  background-color: #3e3e3e;
}
.app #main .editor #nav h2 {
  margin: 0;
  padding: 8px;
}
.app #main .editor #nav ul {
  margin: 0;
  padding: 8px;
}
.app #main .editor #nav ul li {
  cursor: pointer;
}
.app #main .editor #codeMirror {
  width: 85%;
  height: 100%;
}
.app #main .preview {
  left: 100%;
  background-color: #4a4a4a;
}
.app #main .preview iframe {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.app #appFooter {
  min-height: 5%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#main.slide .editor {
  left: -100%;
}
#main.slide .preview {
  left: 0;
}
/* OVERRIDES for CodeMirror default styles
********************************************** */
.CodeMirror {
  height: 100%;
}
