body {
  padding: 0;
  margin: 0;
  min-height: 300px;
}
.app {
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #646464;
}
.app #appHeader,
.app #appFooter {
  width: 100%;
  background-color: #3e3e3e;
}
.app #appHeader {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.app #appHeader .menu {
  margin: 0;
  padding: 0;
}
.app #appHeader .menu li {
  display: inline-block;
}
.app #main {
  padding: 20px 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.app #main .editor,
.app #main .preview {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #646464;
  transition-duration: left 100ms linear;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
}
.app #main .editor #nav,
.app #main .editor #codeMirror {
  display: inline-block;
}
.app #main .editor #nav {
  width: 15%;
  float: left;
  height: 100%;
  background-color: #3e3e3e;
}
.app #main .editor #codeMirror {
  width: 85%;
  height: 100%;
  padding: 25px 0;
}
.app #main .preview {
  left: 100%;
  background-color: green;
}
.app #appFooter {
  clear: left;
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
}
#main.slide .editor {
  left: -100%;
}
#main.slide .preview {
  left: 0;
}
