@base_color: rgb(100, 100, 100);

.boxSize {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 300px;
}

h2 {
    margin: 0;
    padding: 8px;
}

.login{

    width: 200px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #333;
    background: #666;

    label {
        display: block;
    }

    input {
        width: 95%;
        margin-bottom: 10px;
    }
}

.app {

    font-family: sans-serif;
    color: lighten(@base_color, 25%);
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    .boxSize;

    .appHeader, .appFooter {
        height: 5%;
        background-color: darken(@base_color, 20%);
    }

    .appHeader {
        .boxSize;
        width: 100%;

        .menu {
            margin: 0;
            padding: 0;

            li {
                display: inline;
                cursor: pointer;
            }
        }
    }

    .main {
        .boxSize;
        width: 100%;
        height: 90%;
        overflow: hidden;
        background-color: #333;
        position: relative;

        .editor, .preview {
            width: 100%;
            height: 100%;
            background-color: darken(@base_color, 5%);
            position: absolute;
            left: 0;

            transition-duration: left 100ms linear;
            -webkit-transition: left 100ms linear;
            -moz-transition: left 100ms linear;
            -o-transition: left 100ms linear;
        }

        .editor {
            .nav, .codeMirror {
                float: left;
            }

            .nav {

                width: 15%;
                height: 100%;
                word-wrap: break-word;
                background-color: darken(@base_color, 15%);

                ul {

                    margin: 0;
                    padding: 8px;

                    li {
                        cursor: pointer;
                    }
                }
            }

            .codeMirror {
                width: 85%;
                height: 100%;
            }
        }

        .preview {
            left: 100%;
            background-color: darken(@base_color, 10%);

            iframe {
                .boxSize;
                width: 100%;
                height: 100%;
            }
        }
    }

    .appFooter {
        min-height: 5%;
        height: auto;
        .boxSize;
        width: 100%;
    }

    .terminalResponse {

        &.show{
            overflow: auto;
            margin-top: -200px;
            height: 200px;
            width: 100%;
            border: 2px solid #000;
            background-color: @base_color;
            position: absolute;
        }
    }
}

.main.slide .editor {
    left: -100%;
}

.main.slide .preview {
    left: 0;
}


/* OVERRIDES for CodeMirror default styles
********************************************** */
.CodeMirror {
    height: 100%;
}

.CodeMirror-gutters {
    z-index: auto;
}